NET "clk" LOC = "B8";
NET "RESET" LOC = "P11";

NET "ledOUT" LOC = "M5";

NET "DISP<6>" LOC = "L14";
NET "DISP<5>" LOC = "H12";
NET "DISP<4>" LOC = "N14";
NET "DISP<3>" LOC = "N11";
NET "DISP<2>" LOC = "P12";
NET "DISP<1>" LOC = "L13";
NET "DISP<0>" LOC = "M12";

NET "rInv<3>" LOC = "K14";
NET "rInv<2>" LOC = "M13";
NET "rInv<1>" LOC = "J12";
NET "rInv<0>" LOC = "F12";

NET "B1" LOC = "A7";
NET "B2" LOC = "M4";
NET "B3" LOC = "C11";
NET "B4" LOC = "G12";

NET "speaker" LOC="C5"; 

NET "hours12_24" LOC="L3"; 